@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-blue: #0078d4;
    --main-black: #191919;
    --main-white: #ffffff;
    --main-font: "Poppins", sans-serif;
    --main-button: 15px;
    --main-size: 2vh;
    --main-headings: 4vh;
    --main-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

/*Navigation bar stylings goes from here*/
.navigation {
    background-color: var(--main-blue);
    display: flex;
}

.navElementsList {
    display: flex;
    justify-content: ;
}

.navigation .navElements {
    color: var(--main-white);
    list-style: none;
    padding: var(--main-button);
}